apache-flink==1.18.1

apache-flink-libraries==1.18.1

py4j==0.10.9.7

cassandra-driver==3.29.2

kafka-python==2.0.2

numpy==1.24.0

pandas==2.0.3

python-dateutil==2.9.0.post0

pytz==2024.1

requests==2.32.3

urllib3==2.2.2

certifi==2024.7.4

charset-normalizer==3.3.2

idna==3.7

six==1.16.0

typing_extensions==4.12.2